<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="kepg" version="1">
<MenuBar>
  <Menu name="file">
    <Action name="get_data_list" />
    <Action name="get_channel_list" />
  </Menu>
</MenuBar>
<ToolBar fullWidth="true" name="mainToolBar">
  <Action name="get_data_list"/>
  <Action name="file_quit"/>
</ToolBar>
</kpartgui>
